# App
HOST=0.0.0.0
PORT=3333
APP_NAME=Telemed
APP_KEY= # Run `adonis key:generate` to get a new key
URL=http://${HOST}:${PORT}

# Database
DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_USER=root
DB_PASSWORD=
DB_DATABASE=telemed

# Session & Hashing
HASH_DRIVER=bcrypt
SESSION_DRIVER=cookie
CACHE_VIEWS=false